body {
  font-family: 'Poiret One', cursive;
}

h1{
  float: left;
  margin: 30px 20px;
  font-size: 40px;
}

h2{
  width: 200px;
  margin: auto;
  font-size: 30px;
  text-align: center;
}

header {
  position: fixed;
  background: white;
  height: 100px;
  width: 100%;
  z-index: 20;
}

header nav, footer nav{
  float: right;
  margin-top: 20px;
  margin-right: 40px;
}

nav li, footer li{
  display: inline-block;
  padding: 20px;
}
nav a, footer a{
  text-decoration: none;
  color: black;
}
nav a:hover, footer a:hover{
  text-decoration: underline;
}
nav a:active, footer a:active{
  text-decoration: underline;
}
.slider{
  width: 100%;
  position: fixed;
  top: 100px;
  display: flex;
}

.slider img{
  width: 99%;
}

.imglink:hover img{
  opacity: 0.5;
}

.desc{
position: relative;
top: 500px;
background-color: white;
height: 600px;
}

.desc h2{
  padding: 130px 0 45px 0;
}

.desc p{
  padding-bottom: 20px;
  width: 600px;
  margin: auto;
}


.bio{
  position: relative;
  top: 500px;
  height: 550px;
  background-color: #EBF8F9;
}

.left{
  width: 60%;
  height: 550px;
  float: left;
}

.right{
  width: 40%;
  height: 550px;
  float: right;
  background-color: #EBF8F9;
  top: 0;
  bottom: 0;
}

.bio h2{
  padding-top: 40px;
  padding-bottom: 20px;
}

.bio p{
padding: 10px 40px;
}

.center {
  margin: auto;
  text-align: center;
}

.threeSection{
  position: relative;
  top: 500px;
  background-color: white;
  padding: 200px 0;
  display: flex;
}

.goals, .experience, .education{
  display: inline-block;
  width: 33.33%;
  padding: 0 20px;
}

.threeSection p, li{
  padding-top: 20px;
  padding-bottom: 5px;
}

.experience{
  border-right: black 1px solid;
  border-left:  black 1px solid;
}


footer{
  position: relative;
  top: 500px;
  background-color: white;
  height: 120px;
}

nav h2{
  font-size: 30px;
  float: left;
  padding-top: 25px;
  padding-right: 20px;
}
nav ul{
  float: right;
}
nav a:hover{
  opacity: 0.5;
}

@media screen and (max-width: 900px){
  h1{
    text-align: center;
    float: none;
    display: block;
    margin: auto;
    padding-top: 10px;
  }

  header nav{
    display: block;
    float: none;
    margin: auto;
    width: 380px;
    height: 50px;
  }

  .left{
    width: 100%;
    height: 550px;
  }

  .right{
    width: 100%;
    height: 550px;
    background-color: #EBF8F9;
  }

  .threeSection{
    width: 100%;
  }

  .bio h2{
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
  }

  .center {
    margin: 0;
    text-align: left;
    display: inline-block;
  }

}
